{%- import 'syntax.sql.jinja' as syntax -%}
CREATE TABLE pcx__llm_survival_timeline_wide AS
{%- for table_name in table_names %}
SELECT  DISTINCT
        nlp.note_ref,
        nlp.encounter_ref,
        nlp.subject_ref,
        '{{ table_name }}' AS origin,
        CAST(nlp.generated_on AS VARCHAR) AS generated_on,
        CAST(nlp.task_version AS BIGINT) AS task_version,
        nlp.system_fingerprint,
        nlp.result.vital_status.vital_status                         AS vital_status,
        nlp.result.vital_status.death_date                           AS death_date,
        nlp.result.vital_status.death_date_precision                 AS death_date_precision,
        nlp.result.vital_status.last_known_alive_date                AS last_known_alive_date,
        nlp.result.vital_status.last_known_alive_date_precision      AS last_known_alive_date_precision
FROM
        {{ table_name }} AS nlp
WHERE
        nlp.result IS NOT NULL
AND     nlp.task_version = {{ task_version }}
{{ syntax.union_all_delineate(loop) }}
{%- endfor %}
